html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body {
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    background-color: #a6aebf;
    font-size: 16px;
}
/*-------------------HEADER----------------------*/
.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.logo {
    width: 10rem;
    height: auto;
}

.main-title {
    font-size: 4rem;
    font-weight: 600;
}

.site-description {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

/*-------------------HEADER----------------------*/

/*-------------------MAIN----------------------*/
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}

.first-description {
    text-align: center;
}

fieldset {
    padding-bottom: 2rem;
    border-bottom: 3px solid #FFF8DE;
    margin-bottom: 2rem;
}

.first-fieldset label {
    display: block;
    margin-bottom: 1rem;
}

.first-fieldset input {
    width: 95%;
    border: 0;
    margin-top: 1rem;
    background-color: #C5D3E8;
    padding: 1rem 0.5rem;
    
}

.second-description {
    margin: 2rem 0;
    text-align: center;
}

.pet-characteristics {
    margin-bottom: 1rem;
    text-align: center;
}

.second-fieldset input {
    margin: 0;
    padding: 0;
}

.dog-option input{
    margin-left: 2rem;
}

.cat-option {
    margin-top: 1rem;
}

.cat-option input {
    margin-left: 2.2rem;
}

.adult-option input {
    margin-left: 1.6rem;
}

.puppy-option input{
    margin-top: 1rem;
    margin-left: 1.1rem;
}

.third-fieldset label {
    min-height: 64px;
}

.third-fieldset select{
    background-color: #C5D3E8;
    width: 100%;
    min-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.third-fieldset textarea {
    background-color: #C5D3E8;
    display: block;
    width: 100%;
    min-height: 3rem;
    margin-top: 1rem;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #C5D3E8;
}

.terms-conditions {
    display: inline-block;
}

input[type="submit"]:hover {
    background-color: #FFF8DE;
}

input[type="submit"] {
    background-color: #C5D3E8;
    display: block;
    margin: 4rem auto;
    width: 60%;
    border-color: #C5D3E8;
    min-height: 2rem;
}

/*-------------------MAIN----------------------*/
